<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306619151743-2ie52s5u7s232qlh3qp75mpkgk1a4qpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306619151743-2ie52s5u7s232qlh3qp75mpkgk1a4qpo</string>
	<key>API_KEY</key>
	<string>AIzaSyAi9v7K0LTBu6x1RwodCGvknQBjhXWU-ao</string>
	<key>GCM_SENDER_ID</key>
	<string>306619151743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emby.mobile</string>
	<key>PROJECT_ID</key>
	<string>emby-362c8</string>
	<key>STORAGE_BUCKET</key>
	<string>emby-362c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306619151743:ios:b4d7de9560fde037</string>
	<key>DATABASE_URL</key>
	<string>https://emby-362c8.firebaseio.com</string>
</dict>
</plist>